<%- include('./header.ejs')%>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row center">
      <!--boucler sur la liste des restos-->
      <% for (var i = 0; i < data.length; i++) { %>
      <div class="card" style="width: 22rem; margin: 1em;">
        <img class="card-img-top" src="img/turque.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text"><%= data[i].cuisine %></p>
          <h5 class="card-title"><%= data[i].nom %></h5>
          <p class="card-text"><%= data[i].adresse %></p>
          <p class="card-text">Contact: <%= data[i].telephone %></p>
          <a href="#" class="btn btn-primary">Reservez</a>
        </div>
      </div>
      <% } %>
    </div>
</body>

</html>